*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

  .banner {
    background-image: url("../assets/yaku.PNG");
    background-size: cover;
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    margin:50px 200px 20px 0px;
  }

  .pbanner{
    margin-top: -69px; 
    margin-left: 200px;
    margin-bottom: 400px; 
    margin-right: 100px;
    color: white; 
    top: 1px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

.caja {
  padding: 25px; }

.grid-container {
  display: grid;
  height: 450px;
  grid-template-areas: "contenido contenido contenido" "c1 c2 c3"; }

.contenido {
  grid-area: contenido;
  text-align: center;
  align-items: center;
  background-color: #9292ff; }

.card1 {
  grid-area: c1;
  background-color: #f5f5ff; }

.card2 {
  grid-area: c2;
  background-color: #f5f5ff; }

.card3 {
  grid-area: c3;
  background-color: #f5f5ff; }

.banner {
  background-image: url("../assets/yaku.PNG");
  background-size: cover;
  width: 100%;
  height: 30%;
  background-repeat: no-repeat; }

.footer {
  background-color: green;
  color: white;
  text-align: center; }

.laboratoriodigital {
  width: 80%;
  max-width: 1080px;
  height: 50px;
  margin: auto;
  display: block; }
  .laboratoriodigital__triangleTop {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, transparent 49.5%, #4A5F74 50%); }
  .laboratoriodigital__body {
    background: #4A5F74;
    border: #4A5F74;
    display: flex;
    padding: 30px;
    padding-top: 50px; }
    .laboratoriodigital__body__left {
      width: 30%;
      position: static;
      padding: 20px; }
      .laboratoriodigital__body__left__contenedorCircular {
        display: block;
        padding: 20px; }
        .laboratoriodigital__body__left__contenedorCircular--img {
          width: 100%;
          height: 100%;
          display: block; }
      .laboratoriodigital__body__left__contenedorContenido {
        text-align: center; }
        .laboratoriodigital__body__left__contenedorContenido--title {
          color: white; }
        .laboratoriodigital__body__left__contenedorContenido--description {
          margin-top: 15px; }
    .laboratoriodigital__body__right {
      width: 70%; }
      .laboratoriodigital__body__right__contenedorTop {
        text-align: end;
        white-space: nowrap; }
        .laboratoriodigital__body__right__contenedorTop__inside {
          position: relative;
          display: inline-flex;
          justify-content: flex-end;
          height: 100%;
          width: 100%; }
          .laboratoriodigital__body__right__contenedorTop__inside--icon {
            display: inline-block;
            background-color: white;
            color: #4A5F74;
            padding: 8px;
            padding-top: 10px;
            border-radius: 8px 0px 0px 8px; }
          .laboratoriodigital__body__right__contenedorTop__inside--input {
            display: inline-block;
            background: white;
            color: #4A5F74;
            border: none;
            border-radius: 0px 8px 8px 0px; }
            .laboratoriodigital__body__right__contenedorTop__inside--input:focus {
              color: #4A5F74;
              outline-offset: 0px;
              outline: #4A5F74; }
      .laboratoriodigital__body__right__contenedorMiddle {
        color: white;
        align-content: center;
        text-align: center;
        width: 80%;
        margin-top: 50px; }
      .laboratoriodigital__body__right__contenedorBottom--subtittle {
        display: inline-block;
        margin-left: 10px;
        margin-top: 8px;
        margin-bottom: 8px; }
      .laboratoriodigital__body__right__contenedorBottom__contenedorMain {
        display: flex; }
        .laboratoriodigital__body__right__contenedorBottom__contenedorMain__card {
          display: block;
          width: 100%;
          background-color: white;
          text-align: center;
          margin-left: 10px;
          margin-right: 10px; }
          .laboratoriodigital__body__right__contenedorBottom__contenedorMain__card__contenedorimg {
            width: 100%;
            margin: auto; }
            .laboratoriodigital__body__right__contenedorBottom__contenedorMain__card__contenedorimg--img {
              width: 60%;
              margin: auto;
              height: 100%;
              padding: 30px;
              text-align: center;
              display: block; }
          .laboratoriodigital__body__right__contenedorBottom__contenedorMain__card--name {
            display: block;
            font-size: 25px; }
          .laboratoriodigital__body__right__contenedorBottom__contenedorMain__card--username {
            display: inline-block;
            border-radius: 15px;
            margin: 5px 0px;
            padding: 5px;
            border: black solid 1px; }
          .laboratoriodigital__body__right__contenedorBottom__contenedorMain__card--nivel {
            margin: auto;
            margin-bottom: 10px;
            font-size: 10px;
            display: block;
            align-items: center;
            background-color: black;
            color: white;
            padding: 8px; }

/*# sourceMappingURL=estilos.css.map */
